.navBar {
  background-color: rgb(14, 245, 72);
  color: white;
}

.ItemInNavigation {
  text-align: center;
  margin: 5px;
  inline-size: 2p;
  color: white;
  text-align: center;
  text-decoration: none;
}
